.like-cart{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
   
    margin-right: 5%;
    
}
.Search{
    position: relative;
    right:1%;
   
   /* margin-left:10% ; */
}
.superScript{
    font-size: 1.3rem;
    color: rgb(135, 229, 41);
    font-weight: 900;
    position: relative;
    right:20px;
    top:8px;
    
}
.cartbutton{
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    background-color: transparent;
}
